{% extends 'template.html' %}
{% load staticfiles %}

{% block titleHead %}
<title>Mis Estacionamientos - Ver estacionamiento.</title>
{% endblock %}

{% block jsHead %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBjklbb3oO43c-wXgwfK_wz8Dd5pZE_lcA"></script>
{% endblock %}

{% block contenido %}
<h1>Información de dirección.</h1>
<hr>
<table class="table table-responsive table-bordered table-hover table-striped">
    <tbody>
        <tr>
            <td>Nombre descriptivo</td>
            <td>{{ estacionamiento.nombreDescriptivo }}</td>
        </tr>
        <tr>
            <td>Precio estacionamiento</td>
            <td>{{ estacionamiento.precioEstacionamiento }}</td>
        </tr>
        <tr>
            <td>Disponibilidad estacionamiento</td>
            <td>{{ estacionamiento.disponibilidadEstacionamiento }}</td>
        </tr>
        <tr>
            <td>Descripcion estacionamiento</td>
            <td>{{ estacionamiento.descripcionEstacionamiento }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="btn btn-light" href="{{ estacionamiento.get_update_url }}" role="button">Editar</a>
                <a class="btn btn-light" href="{{ estacionamiento.get_delete_url }}" role="button">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'listaEstacionamientos' %}" role="button">Volver</a>
{% endblock %}
