{% extends 'template.html' %}
{% load crispy_forms_tags %}

{% block titleHead %}
<title>Mis estacionamientos - Edicion de perfil de usuario.</title>
{% endblock %}

{% block contenido %}
<h1>Editar información de perfil de usuario.</h1>
<hr>
<p class="lead">
  Modifique sus datos.
</p>

<div class="row justify-content-center">
  <div class="col">
    <form method="post">
      {% csrf_token %}

      {% if form.non.field.errors %}
      {{ form.non.field.errors }}
      {% endif %}

      {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field | as_crispy_field }}
      </div>
      {% endfor %}

      <button class="btn btn-lg btn-primary" type="submit">Grabar</button>
      <a class="btn btn-light" href="{% url 'verUsuario' request.user.id %}" role="button">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}