{% extends 'template.html' %}

{% block titleHead %}
<title>Mis estacionamientos - Eliminar cuenta.</title>
{% endblock %}

{% block contenido %}
<h1>Eliminar cuenta.</h1>
<hr>
<p class="lead">
  ¿Está seguro de eliminar su cuenta?
</p>
<form action="" method="post">
  {% csrf_token %}
  <button class="btn btn-lg btn-light " type="submit">Eliminar Cuenta</button>
  <a class="btn btn-primary" href="{% url 'verUsuario' request.user.id %}" role="button">Cancelar</a>
</form>
{% endblock %}