{% extends 'template.html' %}

{% block titleHead %}
<title>Mis Estacionamientos - Acceso denegado.</title>
{% endblock %}

{% block contenido %}
<h1>Error de inicio de sesión.</h1>
<p class="lead">
  No ha sido posible iniciar la sesión del usuario, esto puede ocurrir debido a las siguientes situaciones:
</p>
<ul class="lead">
  <li>El usuario no esta registrado.</li>
  <li> El nombre de usuario y/o contraseña ingresadas no son las correctas.</li>
</ul>
<p class="lead">
  Comunique el problema a travéz del formulario de contacto.
</p>
{% endblock %}