{% extends 'template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titleHead %}
<title>Mis Estacionamientos - Inicio de sesión.</title>
{% endblock %}

{% block contenido %}
<h1>Iniciar sesión.</h1>
<hr>
<div class="row justify-content-center">
    <div class="col-4">
      <form method="post">
        {% csrf_token %}
  
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field | as_crispy_field }}
        </div>
        {% endfor %}
  
        <button class="btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
        <a class="btn btn-light" href="{% url 'irInicio' %}" role="button">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}