{% extends 'template.html' %}

{% block titleHead %}
<title>Mis estacionamientos - Acerca de nosotros. </title>
{% endblock %}

{% block contenido %}
<h1>Sobre Nosotros.</h1>
<hr>
<p class="lead">
    Mis Estacionamientos es una plataforma on-line que ha sido creada para asistir a quienes estén buscando un lugar
    donde estacionar su auto como también a aquellos que quieran poner en arriendo el suyo. Funciona a través de un mapa
    inteligente en el que se refleja toda la información actualizada sobre disponibilidad de estacionamientos,
    especialmente en las zonas más congestionadas. Los usuarios que posean un estacionamiento que quieran poner en
    arriendo podrán, de forma gratuita, publicarlo en el mapa de Mis Estacionamientos.
</p>
<p class="lead">
    Así que, si estás en búsqueda de un estacionamiento, busca en el mapa en la zona que te deseas estacionar y podrás
    ver la disponibilidad que hay de estacionamientos. En esta página toda la información está abierta a nuestros
    usuarios de forma gratuita. Te dejamos a ti la labor de contactar al dueño y cerrar el contrato de arriendo.
</p>
<p class="lead">
    Ahora, si tienes un estacionamiento que no usas y lo quieres poner en arriendo para ganar unos pesos extra, lo
    puedes publicar de forma gratuita en el mapa de Mis Estacionamientos. Una vez publicado, solo tienes que esperar a
    que te contacte tu futuro arrendatario. Si no sabes cómo ponerlo en arriendo, te da lata o simplemente no te quieres
    preocupar por él, contáctanos y nosotros te ayudaremos a administrar tu estacionamiento.
</p>
<h2>
    ¿Por qué Mis Estacionamientos?
</h2>
<hr>
<p class="lead">
    Existen muchas razones que avalan la creación de un sistema más eficiente, simple y amigable. Entre las que nos han
    impulsado adelante para seguir con nuestro trabajo están:
</p>
<ul class="lead">
    <li>
        La plaza automotriz crece a pasos agigantados, cerca de 300.000 autos nuevos entran a nuestras calles cada año.
        Por otro lado, los estacionamientos no crecen en la misma proporción. Por lo tanto, el encontrar estacionamiento
        se hace cada día más caro, difícil y desagradable, y será cada vez peor a medida que pase el tiempo.
    </li>
    <li>
        Existen zonas con grandes problemas de estacionamiento, sin embargo en la mayoría de ellas existen
        estacionamientos que no están siendo aprovechados por no estar a disposición de quienes los necesitan. Además,
        existe una pérdida para los dueños de los estacionamientos ya que están dejando de lado una oportunidad de
        generar ingresos extra arrendándolos a quienes los buscan.
    </li>
</ul>
<p class="lead">
    Creemos que lo que estaba faltando era un medio de comunicación a través del cual se pudieran encontrar y poner en
    contacto de manera fácil, amigable e intuitiva; de ahí nació la idea de Mis Estacionamientos!
</p>
{% endblock %}