{% extends 'template.html' %}

{% block titleHead %}
<title>Mis estacionamientos - Página de inicio.</title>
{% endblock %}

{% block contenido %}
<h1>Pagina de Inicio</h1>
<hr>
<p class="lead">
    Bienvenido a Mis Estacionamientos, la plataforma de arriendo de estacionamientos número uno en Latinoamerica.
</p>
<p class="lead">
    Inicie sesión para empezar a utilizar nuestros servicios, o cree una nueva cuenta si aún no es parte de la comunidad
    Mis Estacionamientos.
</p>
<h2>
    Todos Ganan!
</h2>
<hr>
<p class="lead">
    Principalmente, con este sistema ganan los que encuentran un estacionamiento donde quieren, los que arriendan sus
    estacionamientos y la ciudad! Algunos de los beneficios son:
</p>
<ul>
    <li>
        Se le da uso más eficiente a los estacionamientos ya existentes en la ciudad.
    </li>
    <li>
        Disminuye la cantidad de autos estacionados en las calles.
    </li>
    <li>
        Seguridad para los dueños de autos.
    </li>
    <li>
        Ingresos extra para los dueños de estacionamientos.
    </li>
</ul>
{% endblock %}