{% extends 'template.html' %}

{% block titleHead %}
<title>Mis Estacionamientos - Lista de direcciones.</title>
{% endblock %}

{% block contenido %}

<h1>Lista de direcciones.</h1>
<hr>
<p>
  <a class="btn btn-primary" href="{% url 'registrarDireccion' %}" role="button">Agregar dirección </a>
  <form class="form-inline my-2 my-lg-0" action="{% url 'listaDeDirecciones' %}" method="get" accept-charset="utf-8">
    <label class="control-label m-2" for="buscar">
      <span class="glyphicon glyphicon-filter">Dirección a buscar:</span>
    </label>
    <input name="q" class="form-control m-2" type="text" aria-label="buscar" value="">
    <button class="btn btn-outline-success m-2" type="submit">
      <span class="gliphicon gliphicon-search">Buscar</span>
    </button>
  </form>
</p>
<hr>
{% if direccion_list %}
<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Dirección</th>
      <th>Villa/Población</th>
      <th>Comuna</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for direccion in direccion_list %}
    <tr>
      <td>{{ direccion.tipo_direccion.nombre }} {{ direccion.direccion }} {{ direccion.numero }}</td>
      <td>{{ direccion.villa_poblacion }}</td>
      <td>{{ direccion.comuna.nombre }}</td>
      <td>
        <a class="btn btn-light" href="{{ direccion.get_absolute_url }}" role="button">
          <span class="glyphicon glyphicon-info-sign"> Detalles</span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Menú de paginación -->
{% if is_paginated %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
    <li class="page-item ">
      <a class="page-link" href="?page=1">&laquo;&laquo;</a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&laquo;&laquo;</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&laquo;</a>
    </li>
    {% endif %}
    {% for i in paginator.page_range %}
    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item ">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="?page=last">&raquo;&raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&raquo;</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&raquo;&raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}


{% else %}
<p class="lead">
  No tiene direcciones registradas aún.
</p>
{% endif %}

{% endblock %}